<article id="introduction">
  <p>Ercoin is a cryptocurrency which aims to be simple, fast, efficient and fairly distributed. Written in <a href="https://www.erlang.org">Erlang</a> using <a href="https://tendermint.com">Tendermint</a>, it is released under <a href="https://tldrlegal.com/license/apache-license-2.0-%28apache-2.0%29">Apache License 2.0</a>.</p>

  <p>Ercoin is currently in the development phase and has not been launched yet. Initial amount of coins is planned to be distributed proportionally to the associated amounts of <a href="https://blackcoin.org">BlackCoin</a> burnt in a specific time window (not announced yet).</p>

  <p>For source codes, issue trackers and technical specification, see <a href="https://gitlab.com/Ercoin">the Ercoin’s profile on GitLab</a>.</p>

  <p>For support and discussion, use the official IRC channel: <a href="irc://irc.freenode.net/ercoin"><code>#ercoin</code> on <code>irc.freenode.net</code></a>. You can connect either <a href="https://freenode.net/kb/answer/chat">directly</a> or using the <a href="https://matrix.org/">Matrix</a> bridge (<code>#freenode_#ercoin:matrix.org</code>). There is also <a href="https://bitcointalk.org/index.php?topic=2071642">a semi-official thread on Bitcointalk</a> and <a href="https://t.me/ercoin_chat">a Telegram group</a>.</p>

  <p>Syndication feeds: <a href="/atom.xml">news</a>, <a href="https://gitlab.com/Ercoin.atom">activity in the GitLab group</a>, <a href="https://gitlab.com/Ercoin/ercoin.atom">activity in the main Ercoin repository</a>, <a href="https://gitlab.com/Ercoin/ercoin/commits/master?format=atom">commits to the main Ercoin repository</a>. There are also feeds of other repositories.</p>

  <p>Social media: <a href="https://twitter.com/ErcoinTech">Twitter</a>.</p>
</article>

<article id="features" class="enumeration">
  <div>
    <h2>Planned features</h2>
    <p>See also the <a href="/whitepaper.html">whitepaper</a>.</p>
  </div>

  <section>
    <h3>Efficient and eco-friendly</h3>
    <p>Security of the network is provided using proof of stake, treating locked coins as a scarce resource instead of energy expended. Thanks to that, the network will operate much cheaper and with much lower carbon emission than proof of work cryptocurrencies.</p>
  </section>

  <section>
    <h3>Transaction messages</h3>
    <p>Every transfer transaction will be able to contain a message of size up to 255 bytes. Thanks to that, you will be able to easily track payment-related data. If transaction-related data is bigger, you can synchronize it off-chain and put its checksum in the transaction message as a proof.</p>
  </section>

  <section>
    <h3>Flexible block time</h3>
    <p>If there are no transactions, blocks are created much rarer than when transactions are present. This reduces blockchain size without impacting confirmation time.</p>
  </section>

  <section>
    <h3>No chain forks</h3>
    <p>Once your transaction is included in a block, you can rest assured that it will not be orphaned.</p>
  </section>

  <section>
    <h3>Expirable accounts instead of unspent transaction outputs</h3>
    <p>Similarly as in banking system, money is assigned to accounts and, contrary to Bitcoin, is not split into unspent transaction outputs.</p>
  </section>

  <section>
    <h3>Fair distribution</h3>
    <p>No entity will be privileged during Ercoin’s initial distribution. There will be no premine and no ICO. Initial amount of coins is planned to be distributed to addresses proportionally to the associated amounts of <a href="https://blackcoin.org">BlackCoin</a> burnt in a specific manner in a specific time window.</p>
  </section>

  <section>
    <h3>Accounts managed by multiple keys in arbitrary combinations</h3>
    <p>You will be able to create accounts managed by singular keys, but also accounts managed by arbitrary combinations of multiple keys. For example, it will be possible to create a company account from which money can be spent either by its chairman or by two vice-chairmans acting together.</p>
  </section>

  <section>
    <h3>Flexible economic model</h3>
    <p>Fee amounts will be decided by consensus of validators, which will be able to adjust their choices based on external factors like Ercoin price and hardware price.</p>
  </section>
</article>

<article id="wallets">
  <h2>Wallets</h2>
  <ul>
    <li><a href="https://ercoin.gitlab.io/ercoin-browser-wallet/">An in-browser wallet.</a></li>
    <li><s><a href="https://gitlab.com/Ercoin/ercoin_wallet">An obsolete simple command-line wallet written in Erlang</a>, intended for development purposes.</s></li>
  </ul>
</article>

<article id="contributing" class="enumeration">
  <div>
    <h2>Contributing</h2>
    <p>Ercoin needs help to grow. There are plenty of ways to contribute:</p>
  </div>

  <section>
    <h3>Invest</h3>
    <p>Besides being an individual investment opportunity, purchasing Ercoin (after it is launched) or participating in the initial distribution will increase its market capitalization.</p>
  </section>

  <section>
    <h3>Find bugs</h3>
    <p>Join <a href="https://testnet.ercoin.tech">the test network</a> and try to find a bug.</p>
  </section>

  <section>
    <h3>Improve the node</h3>
    <p>Implement features, fix bugs and review code in the <a href="https://gitlab.com/Ercoin/ercoin">main repository</a>.</p>
  </section>

  <section>
    <h3>Improve an existing wallet or write a new one</h3>
    <p>Ercoin wallets don’t embed a node; they communicate with <a href="https://tendermint.com">Tendermint</a> using WebSockets and RPC. It is therefore conceptually easy to write a wallet.</p>
  </section>

  <section>
    <h3>Improve graphics</h3>
  </section>

  <section>
    <h3>Improve this website</h3>
    <p><a href="https://gitlab.com/Ercoin/ercoin.tech">Its repository</a> is available.</p>
  </section>

  <section>
    <h3>Market</h3>
    <p>Learn about Ercoin’s features and spread the word to help its community grow.</p>
  </section>

  <section>
    <h3>Sponsor</h3>
    <p>If you are better skilled at other tasks, you can pay someone to do one of the above. There is currently no official sponsorship program. You can choose an appropriate person to support by yourself or establish <a href="/#bounties">a bounty</a>.</p>
  </section>
</article>

<article id="news">
  <h2>News</h2>
  $partial("templates/post-list.html")$
</article>

<article id="bounties">
  <h2>Bounties</h2>
  <p>Get paid for Ercoin-related work.</p>

  <ul>
    <li>120 BLK for <a href="https://github.com/jneen/rouge/issues/752">adding a LFE lexer to Rouge</a>. This will add syntax highlighting to LFE modules in GitLab.</li>
    <li><s>125 BLK for fixing <a href="https://github.com/ninenines/erlang.mk/issues/699">a bug with Triq plugin in erlang.mk</a>. This will ease testing.</s> Fixed!</li>
  </ul>
</article>
